*{
    margin:0;
    padding:0;
    box-sizing: border;
    font-family: 'roboto',sans-serif;
}
body{
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 900px;
    background: #fff ;
    box-shadow: 0 2px 20px rgba(0,0,0,.3);
    border-radius: 5px;
    overflow: hidden;
}
.translator_property{
    border: 1px solid #c7c7c7;
}
.translator_property .nuv_item{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid #c7c7c7;
    padding: 0 0px;
}
.translator_property .nuv_item li select{
    outline: none;
    border-style: none;
    padding: 10px 0px;
    font-size: 17px;
    font-weight: 500;
    color: #606060;
    cursor: pointer;
    transition: all .3s ease-out;
}
.translator_property .nuv_item li select:hover{
    color: #000;
}
.bx-transfer{
    font-size: 22px;
    color: #606060;
    cursor: pointer;
    transition: all .3s ease-out;
}
.bx-transfer:hover{
    color: #111;
}
.write_box{
    display: flex; 
}
.property_from,.property_trans{
    width: 100%;
    position: relative;
}
.write_box textarea{
   width: 100%; 
   height: 250px;
   border-style: none;
   outline: none;
   resize: none;
   padding: 10px 20px;
   font-size: 20px;
   color:#606060 ;
   position: relative;
}
.write_box textarea:nth-child(1){
    border-right: 1px solid #c7c7c7;
}
.write_box .icons{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;

}
.icons.bx{
    width: 35px;
    height:35px;
    background: #ddd;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    color: #000;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-out;
}
.icons.bx:hover{
    background: #606060;
    color: wheat;
}
.code_length{
    font-size: 18px;
    color: #606060;
}